<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RestaurantDashboard</title>

        <!-- css  -->
        <link rel="stylesheet" href="/restaurant/css/orders_r.css">

        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />

        <link rel="shortcut icon" href="fork.png" type="image/x-icon">

        <!-- google fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,800;1,600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Zilla+Slab:ital,wght@0,400;0,500;1,300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- Font Awesome -->
        <script src="https://kit.fontawesome.com/27f6149baa.js" crossorigin="anonymous"></script>

        <!-- UIkit JS -->
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>

        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>
<body>
    <div id="navbar">
        <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar">
        <div class="uk-position-relative ">
            <div class="uk-position-top">
                <nav style="background-color: #3399ff;" class="uk-navbar-container" uk-navbar>
                    <div class="uk-navbar-item">
                        <h1 class="logoColor"> <i class="fas fa-utensils"></i> Restaurant Dashboard</h1>
                    </div>
                    <div class="uk-navbar-right">
                        <div class="uk-navbar-item">
                            <a class="linkClass" href="/restaurant/menu">Dishes</a>
                        </div>
                        <div class="uk-navbar-item">
                            <a class="linkClass" href="/restaurant/orders">Current Orders</a>
                        </div>
                        <div class="uk-navbar-item">
                            <a class="linkClass" href="/restaurant/pastOrders">Past Orders</a>
                        </div>
                        <div class="uk-navbar-item space">

                        </div>

                    </div>
                </nav>
            </div>
        </div>
        </div>

    </div>


    <div class="dcards">
        <div class="uk-grid-column-small uk-grid-row-large uk-child-width-1-2@s uk-text-center" uk-grid>
        <% for(let i=0; i<dishes.length; i++) { %>
            <div>
                <div class="dishescard1">
                    <div class="imgcard">
                        <img style="width: 250px; height: 200px;" src="data:<%= dishes[i].img.mimetype %>;base64,<%= dishes[i].img.data.toString('base64') %>" alt="img">
                    </div>
                    <div class="cardcontent">
                        <h2 class="uk-text-left uk-margin-left" dishId="<%= dishes[i]._id %>"><%= dishes[i].dish_name %></h2>
                        <p class="uk-text-left uk-margin-left"><%= dishes[i].description %></p>
                        <span>&#8377 <%= dishes[i].price %></span>
                        <button class="btnedit" type="button">Edit</button>
                        <button class="btndelete" type="button">Delete</button>
                    </div>
                </div>
            </div>
        <% } %>
        </div>        
    </div>


    <div id="dish-form-card" style="display: none;">
        <div class="card">
          <div class="close-btn"><i class="material-icons">close</i></div>

          <div class="row">
  
             <div class="col s12"><h4>Dish</h4></div>
             <div class="col s3"><div style="width: 100%; border-top: solid #5aa2e8;"></div></div>
            
              <div class="col s12 input-field">
                  <input type="text" id="dish-name">
                  <label for="dish-name">Dish Name</label>
              </div>
  
              <div class="col s6 input-field">
                  <input type="text" id="dish-price">
                  <label for="dish-price">Price</label>
              </div>
  
              <div class="col s6 input-field">
                  <select  id="dish-type" >
                      <option value="" disabled selected>Choose Type</option>
                      <option value="veg">Veg</option>
                      <option value="non veg">Non Veg</option>
                    </select>
                  <label for="dish-type">Type</label>
              </div>
  
              <div class="file-field input-field col s12">
                  <div class="btn">
                  <span>Image</span>
                  <input type="file" name="dish_img" id="dish-img">
                  </div>
                  <div class="file-path-wrapper">
                  <input class="file-path validate" name="dish_img_name" type="text">
                  </div>
              </div>
  
              <div class="col s12 input-field">
                  <input type="text" id="dish-des">
                  <label for="dish-des">Description</label>
              </div>
  
              <button class="btn green" id="dish-add-btn">Add Dish</button>
              
          </div>
        </div>
      </div>

      <div class="add-btn" >
        <i class="material-icons">add</i>
    </div>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script> -->
    <script src="/restaurant/js/menu_r.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script> -->
</body>
</html>
