<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="kj.css">
  <style>
body{
  background: #3399ff;
}ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: #3399ff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: white;
  font-size: 30px;
  font-weight: 700px;
}
 .tab2 {
            tab-size: 8;
        }
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}
.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 8em
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);}

.circle{
  position: absolute;
  border-radius: 50%;
  background: white;
  animation: ripple 15s infinite;
  box-shadow: 0px 0px 1px 0px #508fb9;
}

.small{
  width: 200px;
  height: 200px;
  left: -100px;
  bottom: -100px;
}

.medium{
  width: 400px;
  height: 400px;
  left: -200px;
  bottom: -200px;
}

.large{
  width: 600px;
  height: 600px;
  left: -300px;
  bottom: -300px;
}

.xlarge{
  width: 800px;
  height: 800px;
  left: -400px;
  bottom: -400px;
}

.xxlarge{
  width: 1000px;
  height: 1000px;
  left: -500px;
  bottom: -500px;
}
.img{
  opacity: 0.5;
}
.shade1{
  opacity: 0.2;
}
.shade2{
  opacity: 0.5;
}

.shade3{
  opacity: 0.7;
}

.shade4{
  opacity: 0.8;
}

.shade5{
  opacity: 0.9;
}

@keyframes ripple{
  0%{
    transform: scale(0.8);
  }

  50%{
    transform: scale(1.2);
  }

  100%{
    transform: scale(0.8);
  }

}



.navbars{
  position: absolute;
  right: 130px;
  top: 24px;
  background-color: #fff;
  color: #3399ff;
  padding: 8px;
  font-size: 15px;
  border: 2px solid #3399ff;
  border-radius: 5px;
}

.navbarbtn{
  position: absolute;
  right: 70px;
  top: 30px;
  padding: 6px;
  background-color: #3399ff;
  color: #fff;
  border: 2px solid #3399ff;
  border-radius:1px;

}

span{
  background-color: #fff;
  color: #3399ff;
}

  </style>
</head>
<body>

  <div class="globe">
    <div class="bird">
        <div class="body">
        <div class="eye left"></div>
        <div class="eye right"></div>
        <div class="beak"><div></div></div>
        <div class="feet"></div>
        <div class="wire"></div>
        </div>
        <div class="hills"></div>
        <div class="cloud"></div>
        <div class="cloud small"></div>
    </div>
</div>
<center><h1 style="color: white" style="text-align: center">CHOOSE YOUR RESTAURANT :) </h1></center>
  <ul>
  <li><a class="active" href="#home"><img src="/common/img/home/fork.png" width="40" height="40">DelishtoGo</a></li>

  <li style="float:right"><form action="/action_page.php">
  <select class="navbars" name="city" id="city">
    <option value="coimbatore">Coimbatore</option>
    <option value="chennai">Chennai</option>
    <option value="madurai">Madurai</option>
    <option value="erode">Erode</option>
  </select>
  <br><br>
  <input class="navbarbtn" type="submit" value="Submit">
</form></li>
</ul>
<div class="ripple-background"></div>
      <div class="circle xxlarge shade1"></div>
      <div class="circle xlarge shade2"></div>
      <div class="circle large shade3"></div>
      <div class="circle mediun shade4"></div>
      <div class="circle small shade5"></div>
<table style="width:100%">
<tr>
<td>
  <% for(let i=0; i<restaurants.length; i++) { %>
<div class="blocktext">
    <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
          <img src="data:<%= restaurants[i].img.mimetype %>;base64,<%= restaurants[i].img.data.toString('base64') %>" alt="Avatar" style="width:300px;height:300px;">
      </div>
       <div class="flip-card-back">
          <h1 restaurant_id="<%= restaurants[i]._id %>"><%= restaurants[i].restaurant_name %></h1>
         <p style="color:white"><%= restaurants[i].address %></p>
  <button class="ms">
  <a  style="text-decoration: none;" href="dishes.html">
  <span>MENU</span>
</button>
      </div>
    </div>
  </div>
</div>
<% } %>
<!-- <td>
</div>
<pre class="tab2"></pre>
<div column="column">
<div class="blocktext">
  <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
           <img src="/customer/img/restaurants/b.jpg" alt="Avatar" style="width:300px;height:300px">
        </div>
       <div class="flip-card-back">
          <h1>BARBEQUE NATION</h1>
          <p style="color:white">First and Foremost thing you should realize that you are living in Urban Area and your lifestyle is way different than any rural middle age or old guy.. Their appetite is way stronger than yours and they can enjoy Barbeque Nation unlimited food option better than Urban people.

</p><button class="ms">
  <a style="text-decoration: none;" href="dishes.html">
  <span>MENU</span>
</button>
      </div>
      </div>
  </div>
</div>
</div>
</td> -->
<!-- <td>
</div>
<pre class="tab2"></pre>
<div column="column">
<div class="blocktext">
  <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
           <img src="/customer/img/restaurants/leem.jpg" alt="Avatar" style="width:300px;height:300px">
        </div>
       <div class="flip-card-back">
          <h1>THE LEE MERIDIAN</h1>
          <p style="color:white">The food displayed is neat and super delicious. would definetly visit the place only for the restaurant. The staff at the restaurant is amazing. So patient and leave a lasting impression with an impression always to help in all possible ways making sure we are comfortable and to provide the food at our best comfort level. Thank you Team !!!
</p><button class="ms">
  <a  style="text-decoration: none;" href="dishes.html">
  <span>MENU</span>
</button>
      </div>
      </div>
  </div>
</div>
</div>
</td> -->
<!-- <pre class="tab2"></pre>
<td>
<div class="blocktext">
  <div class="flip-card">
      <div class="flip-card-inner">
      <div class="flip-card-front">
          <img src="/customer/img/restaurants/kuppana.jpg"  style="width:300px;height:300px;float: right">
      </div>
      <div class="flip-card-back">
          <h1>JUNIOR KUPPANNA</h1>
          <p style="color:white">Compared to other restaurants of this kind, the food was not very spicy and hence more enjoyable. The complimentary gravies, which are undistinguished in similar restaurants. were quite tasty.</p>
          <button class="ms">
  <a  style="text-decoration: none;" href="dishes.html">
  <span >MENU</span>
</button>
            </div>
      </div>
  </div>
</div>
</td> -->
</tr>

</body>
  </html>
