<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/src/public/customer/css/restaurants.css">
  <!-- UIkit CSS -->
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css"
/>

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

  <style>
body{
  background: #3399ff;
}ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

.cards {
        margin: 10px 0 0 90px;
      }

li a {
  display: block;
  color: #3399ff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: white;
  font-size: 30px;
  font-weight: 700px;
}
 .tab2 {
            tab-size: 8;
        }
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}
.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 8em
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);}

.circle{
  position: absolute;
  border-radius: 50%;
  background: white;
  animation: ripple 15s infinite;
  box-shadow: 0px 0px 1px 0px #508fb9;
}

.small{
  width: 200px;
  height: 200px;
  left: -100px;
  bottom: -100px;
}

.medium{
  width: 400px;
  height: 400px;
  left: -200px;
  bottom: -200px;
}

.large{
  width: 600px;
  height: 600px;
  left: -300px;
  bottom: -300px;
}

.xlarge{
  width: 800px;
  height: 800px;
  left: -400px;
  bottom: -400px;
}

.xxlarge{
  width: 1000px;
  height: 1000px;
  left: -500px;
  bottom: -500px;
}
.img{
  opacity: 0.5;
}
.shade1{
  opacity: 0.2;
}
.shade2{
  opacity: 0.5;
}

.shade3{
  opacity: 0.7;
}

.shade4{
  opacity: 0.8;
}

.shade5{
  opacity: 0.9;
}

@keyframes ripple{
  0%{
    transform: scale(0.8);
  }

  50%{
    transform: scale(1.2);
  }

  100%{
    transform: scale(0.8);
  }

}



.navbars{
  position: absolute;
  right: 130px;
  top: 24px;
  background-color: #fff;
  color: #3399ff;
  padding: 8px;
  font-size: 15px;
  border: 2px solid #3399ff;
  border-radius: 5px;
}

.navbarbtn{
  position: absolute;
  right: 70px;
  top: 30px;
  padding: 6px;
  background-color: #3399ff;
  color: #fff;
  border: 2px solid #3399ff;
  border-radius:1px;

}

span{
  background-color: #fff;
  color: #3399ff;
}




/* --------------------------------------------------------------------------------------- */



@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,500italic);
@keyframes eyes {
  0%,
  8.8888888889%,
  100% {
    top: -50px;
  }
  17.7777777778% {
    top: -45px;
  }
  91.1111111111% {
    top: -20px;
  }
  57.7777777778%,
  88.8888888889% {
    top: -15px;
  }
  66.6666666667% {
    top: -25px;
  }
}
@keyframes wings {
  0%,
  88.8888888889%,
  100% {
    top: 70px;
  }
  91.1111111111% {
    top: 60px;
  }
}
@keyframes feet {
  0%,
  88.8888888889%,
  100% {
    top: -2px;
  }
  91.1111111111% {
    top: 0px;
  }
}
@keyframes cloud {
  0% {
    left: -140px;
  }
  100% {
    left: 280px;
  }
}
body {
  text-align: center;
  font: normal 100% "Fira Sans", sans-serif;
}

.globe {
  margin: 1em 0 0 0;
  position: relative;
  display: inline-block;
  text-align: left;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 20px solid #f7dbcf;
  box-sizing: border-box;
  background: linear-gradient(
    to bottom,
    rgba(134, 174, 204, 1) 0%,
    rgba(212, 228, 239, 1) 100%
  );
  overflow: hidden;
  box-shadow: inset 0 0 80px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.3);
}
.globe:before,
.globe:after {
  position: absolute;
  content: "";
  box-sizing: border-box;
  border-radius: 50%;
  z-index: 10;
}
.globe:before {
  height: 94%;
  width: 94%;
  top: 3%;
  right: 3%;
  border: 10px solid transparent;
  border-right-color: rgba(255, 255, 255, 0.3);
  border-right-width: 10px;
  border-right-style: solid;
}
.globe:after {
  top: 50px;
  right: 65px;
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.3);
}
.globe .bird {
  position: absolute;
  z-index: 1;
  left: 96px;
  top: 100px;
}
.globe .bird .body {
  position: absolute;
  width: 175px;
  height: 186px;
  border-radius: 50%;
  background-clip: padding-box;
  background-color: #3399ff;
  box-shadow: inset 0 0 80px rgba(0, 0, 0, 0.3);
}
.globe .bird .body:before,
.globe .bird .body:after {
  position: absolute;
  content: "";
  z-index: -1;
  width: 26px;
  height: 93px;
  border-radius: 50%;
  background-color: #3399ff;
  box-shadow: inset 0 0 13px rgba(0, 0, 0, 0.3);
  top: 70px;
  animation: wings 4.5s linear infinite;
}
.globe .bird .body:before {
  left: 0;
}
.globe .bird .body:after {
  right: 0;
}
.globe .bird .body .eye {
  position: absolute;
  z-index: 1;
  overflow: hidden;
  width: 56px;
  height: 56px;
  top: 28px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #01c7be;
  box-shadow: inset 0 0 0 1px #01c7be;
}
.globe .bird .body .eye:before,
.globe .bird .body .eye:after {
  position: absolute;
  content: "";
}
.globe .bird .body .eye:before {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #000;
  top: 30px;
}
.globe .bird .body .eye:after {
  width: 200px;
  height: 200px;
  background: radial-gradient(
    ellipse at center,
    rgba(109, 0, 25, 0) 0%,
    rgba(130, 1, 31, 0) 35%,
    #01c7be 36%,
    #31bfae 100%
  );
  animation: eyes 4.5s linear infinite;
}
.globe .bird .body .eye.left {
  left: 15px;
}
.globe .bird .body .eye.left:before {
  left: 20px;
}
.globe .bird .body .eye.left:after {
  left: -60px;
  top: -45px;
}
.globe .bird .body .eye.right {
  right: 15px;
}
.globe .bird .body .eye.right:before {
  right: 20px;
}
.globe .bird .body .eye.right:after {
  right: -60px;
  top: -45px;
}
.globe .bird .body .beak {
  position: absolute;
  z-index: 1;
  width: 41px;
  height: 55px;
  top: 70px;
  left: 67px;
  border-radius: 50%;
  background-color: #31bfae;
}
.globe .bird .body .beak:before {
  position: absolute;
  content: "";
  width: inherit;
  height: inherit;
  top: 2px;
  border-radius: 50%;
  background: #eb9f2d;
}
.globe .bird .body .beak:after {
  position: absolute;
  content: "";
  z-index: -1;
  width: 37px;
  height: inherit;
  top: 12px;
  left: 2px;
  border-radius: 50%;
  background: #31bfae;
}
.globe .bird .body .beak div {
  position: absolute;
  width: 43px;
  height: 43px;
  top: -1px;
  left: -1px;
  border-radius: 50% 60% 50% 40%;
  background-clip: padding-box;
  background-color: #f7d35d;
  transform: rotate(-45deg);
}
.globe .bird .body .beak div:before {
  position: absolute;
  content: "";
  transform: rotate(45deg);
  width: 17px;
  height: 8px;
  top: 10px;
  left: 20px;
  border-radius: 50%;
  background-color: #fff;
}
.globe .bird .body .feet {
  position: absolute;
  bottom: 15px;
  width: 100%;
}
.globe .bird .body .feet:before,
.globe .bird .body .feet:after {
  position: absolute;
  content: "";
  width: 27px;
  height: 21px;
  border-radius: 50%;
  background-color: #f8c14d;
  box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.2);
  animation: feet 4.5s linear infinite;
}
.globe .bird .body .feet:before {
  left: 40px;
}
.globe .bird .body .feet:after {
  right: 40px;
}
.globe .wire {
  position: absolute;
  z-index: -1;
  width: 500px;
  height: 400px;
  left: -173px;
  top: -215px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-bottom-color: black;
}
.globe .hills {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 30%;
  top: 230px;
  left: 60px;
  transform: rotate(45deg);
  background: radial-gradient(
    ellipse at top left,
    rgba(170, 217, 93, 1) 0%,
    rgba(187, 195, 105, 1) 100%
  );
  box-shadow: inset 5px 0 12px rgba(0, 0, 0, 0.2);
}
.globe .hills:before,
.globe .hills:after {
  position: absolute;
  content: "";
  width: 178px;
  height: 90px;
  border-radius: 50%;
  background: inherit;
  box-shadow: inherit;
}
.globe .hills:before {
  left: -90px;
  top: 30px;
  z-index: -1;
  transform: rotate(-20deg);
}
.globe .hills:after {
  left: 0px;
  top: -55px;
  transform: rotate(120deg);
}
.globe .cloud {
  position: absolute;
  width: 70px;
  height: 24px;
  background: linear-gradient(
    to bottom,
    rgba(242, 249, 254, 1) 5%,
    rgba(214, 240, 253, 1) 100%
  );
  border-radius: 20px;
  top: -20px;
  z-index: -1;
  animation: cloud 9s linear infinite;
}
.globe .cloud.small {
  top: -50px;
  transform: scale(0.6);
  animation-delay: -1.5s;
  animation-duration: 13.5s;
}
.globe .cloud:before,
.globe .cloud:after {
  position: absolute;
  content: "";
  background: inherit;
  z-index: -1;
}
.globe .cloud:before {
  width: 36px;
  height: 36px;
  top: -18px;
  right: 10px;
  border-radius: 40px;
}
.globe .cloud:after {
  width: 20px;
  height: 20px;
  top: -10px;
  left: 10px;
  border-radius: 20px;
}



.ms{
  color:#3399ff;
  padding: 5px;
  border: 1px solid #3399ff;
  background-color: #fff;
  font-size: 15px;
  border-radius: 3px;
  width: 80px;
}








  </style>



</head>
<body>


  <div class="globe">
    <div class="bird">
        <div class="body">
        <div class="eye left"></div>
        <div class="eye right"></div>
        <div class="beak"><div></div></div>
        <div class="feet"></div>
        <div class="wire"></div>
        </div>
        <div class="hills"></div>
        <div class="cloud"></div>
        <div class="cloud small"></div>
    </div>
</div>
<center><h1 style="color: white" style="text-align: center">CHOOSE YOUR RESTAURANT :) </h1></center>
  <ul>
  <li><a class="active" href="#home"><img src="/common/img/home/fork.png" width="40" height="40">DelishtoGo</a></li>

  <li style="float:right">

  <!-- <select class="navbars" name="city" id="city">
    <option value="Erode">Erode</option>
    <option value="Coimbatore">Coimbatore</option>
    <option value="Chennai">Chennai</option>
    <option value="Madurai">Madurai</option>

  </select>
  <input class="navbarbtn" type="submit" value="Submit"> -->

  <select class="navbars" name="city" id="selectValue" >
    <% for(let i=0; i<cities.length; i++) {%>
        <option value="<%= cities[i] %>"><%= cities[i] %></option>
    <% } %>
    </select>
    <button class="navbarbtn" type="button" onclick="gotorestaurants()">Search</button>
</li>
</ul>

<div class="ripple-background"></div>
      <div class="circle xxlarge shade1"></div>
      <div class="circle xlarge shade2"></div>
      <div class="circle large shade3"></div>
      <div class="circle mediun shade4"></div>
      <div class="circle small shade5"></div>

      <div class="cards">
        <div
          class="uk-grid-column-small uk-grid-row-large uk-child-width-1-3@s uk-text-center"
          uk-grid
        >
  <% for(let i=0; i<restaurants.length; i++) { %>
    <div>

      <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
            <img src="data:<%= restaurants[i].img.mimetype %>;base64,<%= restaurants[i].img.data.toString('base64') %>" alt="Avatar" style="width:300px;height:300px;">
        </div>
        <div class="flip-card-back">
            <h1 restaurant_id="<%= restaurants[i]._id %>"><%= restaurants[i].restaurant_name %></h1>
          <p style="color:white"><%= restaurants[i].address %></p>
    <button
      style="background-color: #fff;"
      class="ms"
      onclick="gotodishes(event)"
      >
    Menu



  </button>
        </div>
    </div>
  </div>
</div>
<% } %>

  </div>
</div>


<script>
  function gotodishes(event) {
    var myparent = $(event.target).parent();
    var mychild = myparent.children()[0];
    dishurl = mychild.getAttribute('restaurant_id')
    window.location.href = `http://localhost:3000/menu/${dishurl}`;
  }

  function gotorestaurants() {
    var City = document.querySelector("#selectValue");
    window.location.href = `http://localhost:3000/restaurants/${City.value}`;
  }

  var urls = window.location.href.split("/");
  var mycity = urls[urls.length-1];
  $(`option[value=${mycity}]`).attr('selected', 'selected');

</script>

</body>
</html>





  <!-- <td>
</div>
<pre class="tab2"></pre>
<div column="column">
<div class="blocktext">
  <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
           <img src="/customer/img/restaurants/b.jpg" alt="Avatar" style="width:300px;height:300px">
        </div>
       <div class="flip-card-back">
          <h1>BARBEQUE NATION</h1>
          <p style="color:white">First and Foremost thing you should realize that you are living in Urban Area and your lifestyle is way different than any rural middle age or old guy.. Their appetite is way stronger than yours and they can enjoy Barbeque Nation unlimited food option better than Urban people.

</p><button class="ms">
  <a style="text-decoration: none;" href="dishes.html">
  <span>MENU</span>
</button>
      </div>
      </div>
  </div>
</div>
</div>
</td> -->
<!-- <td>
</div>
<pre class="tab2"></pre>
<div column="column">
<div class="blocktext">
  <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
           <img src="/customer/img/restaurants/leem.jpg" alt="Avatar" style="width:300px;height:300px">
        </div>
       <div class="flip-card-back">
          <h1>THE LEE MERIDIAN</h1>
          <p style="color:white">The food displayed is neat and super delicious. would definetly visit the place only for the restaurant. The staff at the restaurant is amazing. So patient and leave a lasting impression with an impression always to help in all possible ways making sure we are comfortable and to provide the food at our best comfort level. Thank you Team !!!
</p><button class="ms">
  <a  style="text-decoration: none;" href="dishes.html">
  <span>MENU</span>
</button>
      </div>
      </div>
  </div>
</div>
</div>
</td> -->
<!-- <pre class="tab2"></pre>
<td>
<div class="blocktext">
  <div class="flip-card">
      <div class="flip-card-inner">
      <div class="flip-card-front">
          <img src="/customer/img/restaurants/kuppana.jpg"  style="width:300px;height:300px;float: right">
      </div>
      <div class="flip-card-back">
          <h1>JUNIOR KUPPANNA</h1>
          <p style="color:white">Compared to other restaurants of this kind, the food was not very spicy and hence more enjoyable. The complimentary gravies, which are undistinguished in similar restaurants. were quite tasty.</p>
          <button class="ms">
  <a  style="text-decoration: none;" href="dishes.html">
  <span >MENU</span>
</button>
            </div>
      </div>
  </div>
</div>
</td> -->
